* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  --color-gray: #9b9b9b;
}

a {
  text-decoration: none;
  color: black;
}

.color-gray {
  color: var(--color-gray);
}

.rounded-sm {
  border-radius: 0.8rem;
}

.rounded-md {
  border-radius: 1rem;
}

.rounded-lg {
  border-radius: 1.2rem;
}

.rounded-xl {
  border-radius: 2rem;
}

.btn-navigation {
  border-radius: 50%;
  padding: 0.8rem;
  background: white;
  border: none;
  color: var(--color-gray);
  transition: all ease-in-out 0.3s;
}

.mt-7 {
  margin-top: 7rem;
}

.btn-navigation:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: rgb(46, 41, 41);
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.hover-danger {
  transition: all ease-in-out 0.3s;
}

.hover-danger:hover {
  color: #dc3545 !important;
}

.hover-bg-gray {
  transition: all ease-in-out 0.3s;
}

.hover-bg-gray:hover {
  background: #c4c0c0 !important;
}

.navbarMobile {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 400px;
  height: 100vh;
  padding: 2rem;
  background: white;
  transition: all ease-in-out 0.3s;
  position: fixed;
  top: 0;
  z-index: 99999;
}

.navbarMobile-show {
  right: 0;
}

.navbarMobile-hide {
  right: -100%;
}

.modalOverLayConfig {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

button:disabled {
  border-color: gray !important;
  color: gray !important;
}

.c-pointer:hover {
  cursor: pointer;
}

.dropzone{
  width: 100%;
  border: 3px #c4c0c0 dashed ;
  border-radius: 1rem;
  padding: 2rem;
}


@media (max-width: 576px) {
  .show-sm {
    display: block !important;
  }

  .hide-sm {
    display: none;
  }

  .authLayout {
    /* min-height: 100vh; */
  }

  .h-100vh-sm {
    height: 100vh;
  }

  .w-100-sm {
    width: 100%;
  }

  .modalPositionAndSizeConfig {
    /* width: 100vh; */
    min-height: 80vh;
    overflow-y: auto !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 80vw;
    max-width: 800px;
    padding: 3rem 2rem;
    border-radius: 1rem;
    background: white;
  }

  .modalPositionAndSizeConfig2 {
    min-height: 80vh;
    overflow-y: auto !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 90vw;
    max-width: 800px !important;
    padding: 3rem 2rem;
    border-radius: 1rem;
    background: white;
  }
}

@media (min-width: 576px) {
  .show-sm {
    display: block !important;
  }

  .hide-sm {
    display: none;
  }

  .authLayout {
    /* min-height: 100vh; */
  }

  .h-100vh-sm {
    height: 100vh;
  }

  .w-100-sm {
    width: 100%;
  }

  .modalPositionAndSizeConfig {
    /* width: 100vh; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 80vw;
    max-width: 800px;
    padding: 3rem 2rem;
    border-radius: 1rem;
    background: white;
  }

  .modalPositionAndSizeConfig2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    padding: 3rem 2rem;
    border-radius: 1rem;
    background: white;
  }
}

@media (min-width: 768px) {
  .show-md {
    display: block !important;
  }

  .hide-md {
    display: none;
  }

  .authLayout {
    /* style={{position:"absolute", top: "50%", left:"50%", transform:"translate(-50%, -50%)", minWidth:"500px"}} */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
    min-height: none;
  }

  .rounded-xl-md {
    border-radius: 2rem;
  }

  .h-100vh-sm {
    height: auto;
  }
}

@media (min-width: 992px) {
  .show-lg {
    display: block !important;
  }

  .hide-lg {
    display: none;
  }

  .rounded-xl-lg {
    border-radius: 2rem;
  }

  .w-40-lg {
    width: 40%;
  }
  .w-50-lg {
    width: 50%;
  }
  .w-60-lg {
    width: 60%;
  }

}

@media (min-width: 1200px) {
  .show-xl {
    display: block !important;
  }

  .hide-xl {
    display: none;
  }
}